.menu {
    display: flex;
    align-items: baseline;
    padding: 30px 0 25px 0;
}

.menu h1 {
    font-family: 'Playfair Display';
    margin-right: 8rem;
    color: black;
    font-size: 28px;
    font-weight: 500;
}

.menu a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-size: 18px;
}

.menu a:hover{
    color: grey;
}